@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

:root{
  --color-white:white;
  --color-black:black;
  --color-dark:#ebebeb;
  --color-blue:#0055FF;
  font-family: 'Poppins', sans-serif;
}